// Place all the styles related to the Articles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
html {
  border: 0px white solid;
  width: auto;
}
body {
  width: auto;
  border: none;
}
//NAVIGATION BAR NAVIGATION BAR
.nav-container {
  background-color: #fffaf0;
}
/* Add a black background color to the top navigation */
.topnav {
    background-color: #fffaf0;
    overflow: hidden;
}
/* Style the links inside the navigation bar */
.topnav a {
    float: right;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}
/* Change the color of links on hover */
.topnav a:hover {
    color: orange;
}
/* Add a color to the active/current link */
.topnav a.active {
    background-color: orange;
    color: white;
}

// LOGO HEADER LOGO HEADER LOGO HEADER
div.logo-header {
  width: auto;
  height: 25vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fcfcfc;
}
  div.logo-header > img {
    width: auto;
    height: 25vh;
  }

.header-div {
  display: flex;
  justify-content: space-around;
  justify-content: center;
  align-items: center;
}

// HEADER CONTENT HEADER CONTENT
div.container-div {
  background-color: white;
  padding: 10px 0px;
  margin-top: 10px;
  margin-bottom: 10px;
  display: flex;
  justify-content: center;
  justify-content: space-around;
  align-items: center;
  box-shadow: 2px 1px 8px #e8e8e8;
  border-left: 1px orange solid;
  border-right: 1px orange solid;
}
div.content-slider {
  width: 70%;
  height: 50vh;
  border: red 1px solid;
  display: flex;
  justify-content: space-around;
  justify-content: center;
  margin: 10px 30px;
}

  #page-title {
    display: flex;
    justify-content: center;
    width: 50%;
  }


// ARTICLES ARTICLES ARTICLES ARTICLES
.recent-post {
  width: 50%;
  display: flex;
  justify-content: flex-start;
  margin-top: 20px;
  padding: 40px 30px 10px 30px;
  font-size: 30px;
  font-weight: bold;
}
table.article-display-table {
  // border: 1px green solid;
  background-color: white;
  display: flex;
  justify-content: center;
}
  table.individual-article {
    border-left: 1px orange solid;
    width: 95%;
    background-color: white;
    border-radius: 3px;
    // padding: 10px 30px;
    box-shadow: 2px 1px 8px #e8e8e8;
  }
    td.article-title {
      // border: 3px yellow solid;
      font-size: 30px;
      font-weight: 400;
    }
    td.article-text {
      // border: 3px purple solid;
      padding: 10px 20px;
      font-size: 20px;
      font-weight: 300;
      letter-spacing: 1.1px;
    }
    td.article-options {
      // border: 3px gray solid;
      text-align: center;
    }
      .option {
        // border: 1px gray solid;
        font-size: 12px;
        color: orange;
        padding: 5px;
        background-color: white;
        border-radius: 5px;
        font-weight: bold;
      }
      #big-option-div {
        padding: 20px;
        margin: 5px;
        text-align: right;
      }
        .big-option {
          font-size: 18px;
          color: orange;
          padding: 7px 10px;
          background-color: orange;
          border: 1px orange solid;
          border-radius: 10px;
          font-weight: bold;
        }
    div.horizontal-line {
      border: 0.5px rgba(51,51,51,0.1) solid;
      margin: 25px 0px;
      width: 85%;
    }

// RECENT PODCAST RECENT PODCAST RECENT PODCAST RECENT PODCAST

div.featured-podcast {
  background-color: #f5f5f5;
  border-left: 1px solid orange;
  width: auto;
  height: auto;
  display: flex;
  justify-content: center;
  justify-content: space-around;
  align-items: center;
  margin-top: 30px;
  margin-bottom: 30px;
  padding: 20px;
  box-shadow: 2px 1px 8px #e8e8e8;
}
